#min {
    font-size: 30px;
    padding: 0 0 0 20px;

}
#sec {
    display: inline-block;
    font-size: 30px;
    padding: 25px 0 40px 0;
}

#start {
    border: 1px solid black;
    border-radius: 3px;
    width: 90px;
    height: 45px;
    font-weight: bold;
    background-color: silver;
    outline:0;
}

#stop {
    
    border: 1px solid black;
    border-radius: 3px;
    width: 90px;
    height: 45px;
    font-weight: bold;
    background-color: silver;
    outline:0;
}

#reset {
    border: 1px solid black;
    border-radius: 3px;
    width: 90px;
    height: 45px;
    font-weight: bold;
    background-color: silver;
    outline:0;
}